body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    text-align: center;
    flex-direction: column; /* Stack elements vertically */
}
.message {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}
h1 {
    color: #4c7aaf; /* Green color */
}
p {
    font-size: 1.1em;
    color: #555;
}
